<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Seth Pennebaker</title>
    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="./css/homePage.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/mdb.min.css">
    <link rel="stylesheet" href="./css/style.css">

  </head>

  <body>
    <!--Main Navigation-->
<header>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark blue-gradient scrolling-navbar">
    <a class="navbar-brand" href="#"><strong>SP</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Pricing">Pricing</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/About">About<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/Contact">Contact</a>
        </li>
      </ul>
      <ul class="navbar-nav nav-flex-icons">
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-youtube"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link"><i class="fab fa-github"></i></a>
        </li>
      </ul>
    </div>
  </nav>

</header>
<!--Main Navigation-->


  <div class="bg background-tint"></div>



  <div class="container-fluid d-flex justify-content-center about-card">

      <div class="col-4">
  <!-- Card Regular -->
  <div class="card card-cascade">

    <!-- Card image -->
    <div class="view view-cascade overlay">
      <img class="card-img-top" src="/images/headshot.jpg">
      <a>
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>

    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">

      <!-- Title -->
      <h4 class="card-title"><strong>Seth Pennebaker - 24</strong></h4>
      <!-- Subtitle -->
      <h6 class="font-weight-bold indigo-text py-2"> Full Stack | Software Engineer | Data Scientist</h6>
      <!-- Text -->
      <p class="card-text">Computer Science Graduate from West Chester University looking for an entry level job in any of the field
                  above.
      </p>

      <p class="card-text">Hobbies: Ice Hockey, Fishing, Skiing/Snowboarding, Hiking, Golfing</p>

      <!-- Youtube -->
      <a type="button" class="btn-floating btn-small btn-fb"><i class="fab fa-youtube"></i></a>
      <!-- Github -->
      <a type="button" class="btn-floating btn-small btn-tw"><i class="fab fa-github"></i></a>

    </div>

  </div>
  <!-- Card Regular -->
  </div>
  </div>


    <script type="text/javascript" src="./js/jquery.min.js"></script>
    <script type="text/javascript" src="./js/popper.min.js"></script>
    <script type="text/javascript" src="./js/mdb.min.js"></script>
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>

  </body>


</html>
