@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');

body {
  margin: 0;
  padding-top: 0px;
  font-family: 'Yeon Sung', cursive;
  color: #625a56;


}

html{
  min-height: 100%;

  background-image: url(/paFishing.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.575;
}

.container-title .display-1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -333%);
  -ms-transform: translate(-50%, -50%);
  color: black;
}


.container-login .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -200%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 16px;
}

.container-signup .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  border-radius: 16px;
}
