<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Visit West Chester</title>
    <link rel="stylesheet" href="/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/homePage.css"/>

  </head>

  <body>
    <div class="container-title">
      <h1 class="display-1">MyPaFishing</h1>
    </div>

    <div class="container-login">
      <a href="/login"><button type="button" id="login-button"class="btn btn-outline-dark btn-lg">Login</button></a>
    </div>

    <div class="container-signup">
      <a href="/signup"><button type="button" id="signup-button"class="btn btn-outline-dark btn-lg">Sign Up</button></a>
    </div>

  </body>
</html>
