<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=0.8, maximum-scale=1" />
    <title>Visit West Chester</title>
    <link rel="stylesheet" href="/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="/homePage.css"/>

  </head>

  <body>
    <div class="container-title">
      <h1 class="display-1">MyPaFishing</h1>
    </div>

    <div class="container-find">
      <a href="/fishLocator" ><button type="button" id="find-button" class="btn btn-dark btn-lg">Find Fishing Near Me</button> </a>
    </div>

    <div class="container-contact">
      <a href="/contact" <button type="button" href="/contact" id="contact-button"class="btn btn-dark btn-lg">Contact Us</button> </a>
    </div>

  </body>
</html>
